@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Courier New', Courier, monospace;
}


::-webkit-scrollbar {
    width: 8px;  
    height: 8px;  
    background-color: transparent; 
}

 
::-webkit-scrollbar-thumb {
    background-color: rgb(228, 187, 110) ; 
    border-radius: 4px;  
}

 
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(228, 187, 110) ;  
}

 
::-webkit-scrollbar-corner {
    background-color: transparent;  
}